div {
    border: 15 solid gray;
    margin: 0.5%;
    padding: 0.5%;
}

#a { background-color:aquamarine;}

#b {
    background-color:coral;
    float:left;
    width:25%;
}

#c {
    background-color:darkcyan;
    float:left;
    width:44%;
}

#d {
    background-color:darksalmon;
    float:left;
    width:25%
}

#e {
    background-color:darkseagreen;
    text-align:center;
    clear:left;
}